.out
.vs
/_prj_msvc/*.user
/_3dp/ReflectiveDLLInjection
/_3dp/RunInSandbox
/_3dp/Windows-universal-samples
/_3dp/uwp-injector
*.pdb
*.exe
*.obj
*.recipe
*.ilk
*.tlog
*.lastbuildstate
*.log
*.idb
*.user
*.pch
/_3dp/WinDebug/Backup
/_3dp/WinDebug/UpgradeLog.htm
/_3dp/WinDebug/Monitor/Release
/_3dp/WinDebug/Monitor/Debug
/_3dp/WinDebug/output/Release
/_3dp/WinDebug/output/Debug
/_3dp/sqlcipher
/_3dp/NtHookEngine
